
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@tailwind utilities;


:root {
  --background-black: #0F0F0F;
  --background-blue: #2CAEFF;
  --background-gray: #CACACA;

  --text-dark: #0F0F0F;
  --text-white: #F9F9F9;
  --text-stroke: #DFE4EA;
}


.bg-black {
  background-color: var(--background-black);
}

.bg-blue {
  background-color: var(--background-blue);
}

.bg-gray {
  background-color: var(--background-gray);
}
.svg-white {
  fill: var(--text-white);
}


.text-dark {
  color: var(--text-dark);
}

.text-white {
  color: var(--text-white);
}

.text-stroke {
  color: var(--text-stroke);
}

body {
  background-color: var(--background-black);
  color: var(--text-white);
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.extra-light{
  font-weight: 200;
  font-size: 1.5625rem;
}

h1 {

  font-size: 3rem; 
  line-height: 120%;
}

h2 {
  font-weight: 400;
  font-size: 1.25rem; 
   line-height: 120%;
}

h3 {
  font-weight: 700;
  font-size: 1.94rem; 
   line-height: 120%;
}

h4 {
  font-weight: 700;
  font-size: 1.56rem; 
   line-height: 120%;
}

h5 {
  font-weight: 700;
  font-size: 1.25rem; 
  line-height: 120%;
  margin: 0 0 0.5rem 0;
}

h6 {
  font-weight: 700;
  font-size: 1rem; 
  line-height: 120%;
  margin: 0 0 0.5rem 0;
}

p {

  font-size: 1.25rem; 
  line-height: 120%;
  margin: 0;
}


.container-desktop {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 79px);
  column-gap: 30px;
}


.container-mobile {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  grid-template-columns: repeat(6, 54px);
  column-gap: 10px;
}

@media (max-width: 640px) {
  .container-desktop {
    display: none;
  }
  .container-mobile {
    display: flex;
  }
}

@media (min-width: 641px) {

}


@media (max-width: 640px) {
  
}
.nextjs-portal {
  display: none !important;
}